meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700", rel="stylesheet")
link(rel="stylesheet", href="css/style.css")
link(rel="shortcut icon", type="image/png", href="img/favicon.png")
title New Loan | All the Loans
h3.heading-primary
  span List Of Loans
div
  table.table-header
    thead
      tr
        th(scope="col") #
        th(scope="col") Customer Name
        th(scope="col") Phone Number
        th(scope="col") Address
        th(scope="col") Loan Amount
        th(scope="col") Interest
        th(scope="col") Loan Term Years
        th(scope="col") Loan Type
        th(scope="col") Description
    tbody
      tr.table-secondary
        th(scope="row") 1
        td Parmeet
        td 2472930123
        td Tempe
        td 200
        td 5
        td 4
        td Student Loan
        td Educational Loan
      tr
        th(scope="row") 2
        td Aditi
        td 9623123734
        td Mesa
        td 500
        td 12
        td 2
        td Personal Loan
        td Personal Loan
      tr.table-secondary
        th(scope="row") 3
         td Majithi
        td 6152839528
        td Scottsdale
        td 100
        td 7
        td 8
        td Car Loan
        td Car Loan
      tr
        th(scope="row") 4
        td Teju 
        td 9812639201
        td Phoenix
        td 1200
        td 4
        td 7
        td Home Loan
        td Home Loan
      tr.table-secondary
        th(scope="row") 5
       td Vikas
        td 62301739172
        td Glendale
        td 300
        td 5
        td 5
        td Credit Card
        td Credit card 
      tr.
        
        